# Carpeta de compilación
build/
cmake-build-*/

# Ejecutables
*.exe
*.out
*.app

# Archivos objeto
*.o
# *.obj
*.a
*.lib

# Archivos de CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Archivos del compilador
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
*.sln
*.vcxproj*

# CLion
.idea/
cmake-build-*/

# Archivos temporales
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de depuración
*.pdb
*.ilk

# Carpetas Internas
Practicas/0. Pruebas

# Builds
Tareas/**/build*
Practicas/**/build*
Proyectos/**/build*

# Latex
Tareas/**/Latex
Practicas/**/Latex
**/**/*.pdf

# Markdown
Practicas/**/Markdown
Proyectos/**/Markdown

# Archivos específicos de proyectos
/Practicas/3. Practica 3/\[base\] OpenGL3D
